swagger: "2.0"
info:
  title: tisane-relay-gateway
  version: "1.0.0"
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  firebase:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "https://securetoken.google.com/ledit-1f375"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com"
    x-google-audiences: "ledit-1f375"

security:
  - firebase: []

paths:
  /health:
    get:
      operationId: healthGet
      x-google-backend:
        address: https://tisane-relay-qsp3ipbqma-uc.a.run.app
        protocol: "h2"
      responses:
        "200":
          description: OK

  /relay/push:
    post:
      operationId: relayPush
      x-google-backend:
        address: https://tisane-relay-qsp3ipbqma-uc.a.run.app
        protocol: "h2"
      responses:
        "200":
          description: OK

  /relay/pull:
    get:
      operationId: relayPull
      x-google-backend:
        address: https://tisane-relay-qsp3ipbqma-uc.a.run.app
        protocol: "h2"
      responses:
        "200":
          description: OK
